@import '../../../styles/variables';

.menu {
  @apply flex justify-between items-center;
  box-sizing: border-box;
  height: $menu-height;
  box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.08);
}

.menu-item {
  @apply flex justify-center items-center;

  flex: 0 1 25%;
  height: $menu-height;
  cursor: pointer;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;

  &--active {
    background: $primary-100;
    border-top: 2px solid $primary-700;

    & > .menu-icon {
      stroke: $primary-700;
    }
  }
}

.menu-icon {
  stroke: $gray-300;
}
