@import '../../../styles/variables';

.main-page {
  height: $full-height;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px;
}

.main-page .martian-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 37px;
  color: $gray-900;
}
